#upper{
    background-color: rgb(51, 38, 38);
}
#main{
     display: grid;
     grid-template-columns: auto auto auto auto auto ;
    
     background-color: rgb(46, 34, 34);
     /* margin-bottom: 20%; */
    
}
h4{
    color: white;
}
h3{
    color: orange;
}
table{
    width: 30vw;
    border: 2px solid white;
    /* margin-top: 5%; */
    margin-left: 30%;
    
}
#rec{
    margin-left: 42%;
    color: paleturquoise;
    margin-top: 5%;
}


td{
    width: 10vh;
    border: 1px solid yellowgreen;
    
}
#Item{
    color: antiquewhite;
    margin-top: 5%;
}
#col{
    color: rgb(250, 201, 41);
}
#search{
    margin-left: 77%;
    width: 14vw;
    height: 6vh;
    text-align: center;
    font-size: 100%;
    /* margin-top: -44%; */
}
#search1{
    /* margin-left: 40%; */
    width: 17vw;
    height: 7vh;
    text-align: center;
    font-size: 100%;
    /* margin-top: -44%; */
}
#picture{
    width: 15vw;
    height: 30vh;
    margin-left: 3%;
    border-radius: 20%;
    margin-top: 20%;
}
#line{
    color: white;
}

#meal{
    color: rgb(243, 147, 13);
    margin-left: 5.5%;
    margin-top: -4.5%;
   
}
#pay{
    width: 15vw;
    height: 6vh;
    font-size: 110%;
    border-radius: 4%;
    background-color: rgb(235, 174, 81);
    color: blue;
    border: orange;
}
#logo{
    width: 4vw;
    height: 6vh;
    border-radius: 30%;
    margin-top: 2%;
    margin-left: 1%;
    
}
#welcome{
    color:white;
}
#recip{
    background-color: aqua;
}